= form_for @order, html: {data: {controller: "form", packages: @order.packages || 1}} do |f|
  - if @order.errors.any?
    #error_explanation
      h2 = "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      ul
        - @order.errors.full_messages.each do |message|
          li = message
  .row
    .col.s2.offset-s2
      h4 Ich möchte
    .col.s1
      a.btn-floating.waves-effect.waves-light.blue data-action="click->form#less"
        i.fa.fa-minus
    .col.s1
      input data-target="form.packages" value="42" type="number" min=1
    .col.s1
      a.btn-floating.waves-effect.waves-light.green data-action="click->form#more"
        i.fa.fa-plus
    .col.s4
      h4 Päckchen versenden
  .row
    .col.s1.offset-s10
      h2 data-target="form.sum"
    .col.s1
      h2 €
  .row
    .col.s12
      h3 Persönliche Botschaft
  .row
    .col.s8.offset-s2
      = f.fields_for :messages do |m|
        .input-field
          = m.label :text
          = m.text_area :text, rows: 4, cols: 4, size: "4x4", class: "materialize-textarea", data: {target: "form.message"}
    .col.s2.input-field
      = f.label :auto_translate
        = f.check_box :auto_translate
        span Automatisch übersetzen

  .row
    .input-field.col.s12
      i.material-icons.fa.fa-envelope.prefix
      = f.label :email
      = f.text_field :email
  .row
    .col.s6.input-field
      i.material-icons.fa.fa-user.prefix
      = f.label :firstname
      = f.text_field :firstname
    .col.s6.input-field
      i.material-icons.fa.fa-user-circle.prefix
      = f.label :lastname
      = f.text_field :lastname
    .col.s4.input-field
      i.material-icons.fa.fa-asterisk.prefix
      = f.label :postcode
      = f.number_field :postcode
    .col.s8.input-field
      i.material-icons.fa.fa-home.prefix
      = f.label :city
      = f.number_field :city

  h4 Zahlungsart
  .row
    .col.s10.offset-s1
      ul.tabs data-target="form.payment"
        li.tab.col.s3:a href="#sepa"
          = image_pack_tag "images/SepaLogoEN.jpg", size: '130x47', alt: 'SEPA Lastschrift'
        li.tab.col.s3:a href="#amazon"
          i.fab.fa-amazon-pay.fa-4x.blue-text.text-darken-4
        li.tab.col.s3:a href="#paypal"
          i.fab.fa-paypal.fa-4x.blue-text.text-darken-4
        li.tab.col.s3:a href="#creditcard"
          i.far.fa-credit-card.fa-4x.blue-text.text-darken-4
    #sepa.col.s10.offset-s1
      .row
        .col.s6.input-field.offset-s3
          = f.label :iban
          = f.text_field :iban
        .col.s6.input-field.offset-s3
          = f.label :bic
          = f.text_field :bic
    #amazon.col.s12
      h3 Sie werden auf Amazon Payment weitergeleitet.
    #paypal.col.s12
      h3 Sie werden auf Paypal weitergeleitet.
    #creditcard.col.s12
      h3 CreditCars Payment
      .row
        .col.s6.input-field
          = f.label :cc_issuer
          = f.collection_select :cc_issuer, Order::CCARD_ISSUER, :first, :second, {}, {data: {target: "form.ccIssuer"}}
        .col.s6.input-field
          = f.label :cc_owner
          = f.text_field :cc_owner
        .col.s8.input-field
          = f.label :cc_number
          = f.text_field :cc_number
        .col.s3.input-field
          = f.label :cc_checksum
          = f.text_field :cc_checksum
        .col.s3.input-field
          = f.label :cc_valid_till_month
          = f.text_field :cc_valid_till_month
        .col.s3.input-field
          = f.label :cc_valid_till_year
          = f.text_field :cc_valid_till_year
  .right-align
    = f.submit "Kostenpflichtig Spenden", class: "waves-effect waves-light btn green white-text"
