#index-banner.parallax-container data-controller="order"
  .section.no-pad-bot
    .container
      br
      br
      h1.header.center.teal-text.text-lighten-2
        | Lorem Ipsum
      .row.center
        h5.header.col.s12.light
          | A catchy subtitle that engages
          b< everyone

      .row.center
        a.btn-large.waves-effect.waves-light.teal.lighten-1 data-action="click->order#scroll"
          | Donate Now
  .parallax
    = image_pack_tag "images/raw2.jpeg"
.container
  .section
    .row
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.fas.fa-stroopwafel
          h5.center
            | Advantage number 1
          p.light
            | Maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac,
            | gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum
            | primis in faucibus orci luctus et ultrices posuere cubilia Curae;
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.fas.fa-people-carry
          h5.center
            | Advantage number 2
          p.light
            | Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et
            | pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl
            | maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac,
      .col.s12.m4
        .icon-block
          h2.center.brown-text
            i.fas.fa-users
          h5.center
            | Advantage number 3
          p.light
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.
            | Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.
            | Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light
          | Another phrase just to show off
  .parallax
    = image_pack_tag "images/raw2.jpeg"
.container
  .section
    .row
      .col.s12.center
        h3
          i.mdi-content-send.brown-text
        h4
          | You can do it
        p.left-align.light
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat.
          | Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.
          | Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et
          | pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl
          | maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac,
          | gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum
          | primis in faucibus orci luctus et ultrices posuere cubilia Curae;
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h5.header.col.s12.light
          |
  .parallax
    = image_pack_tag "images/raw3.jpeg"
.container
  .section
    .row
      .col.s12.center#form

        h1 Donate Now

        = render partial: "form"