doctype html
html[lang="en"]
  head
    title Gift
    meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag "application"
  body
    nav.white[role="navigation"]
      .nav-wrapper.container
        a#logo-container.brand-logo[href="#"]
          | Logo
        ul.right.hide-on-med-and-down
          li
            a[href="#"]
              | Navbar Link
        ul#nav-mobile.sidenav
          li
            a[href="#"]
              | Navbar Link
        a.sidenav-trigger[href="#" data-target="nav-mobile"]
          i.material-icons
            | menu

    = yield

    footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text
              | About Us
            p.grey-text.text-lighten-4
              | Lengthy description of who we are and why we do this?
          .col.l3.s12
            h5.white-text
              | Settings
            ul
              li
                a.white-text[href="#!"]
                  | Link 1
              li
                a.white-text[href="#!"]
                  | Link 2
              li
                a.white-text[href="#!"]
                  | Link 3
              li
                a.white-text[href="#!"]
                  | Link 4
          .col.l3.s12
            h5.white-text
              | Connect
            ul
              li
                a.white-text[href="#!"]
                  | Link 1
              li
                a.white-text[href="#!"]
                  | Link 2
              li
                a.white-text[href="#!"]
                  | Link 3
              li
                a.white-text[href="#!"]
                  | Link 4
      .footer-copyright
        .container
          ' Made with
          i.fas.fa-heart.red-text>
          ' in
          a.brown-text.text-lighten-3 href="https://walldorf.de" Walldorf